@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

.errorIcon{
    position: relative;
    cursor:pointer;
}

.errorIcon:hover > #triangulo {

    position: absolute;
    right: 0px;
    top: 25px;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid rgb(248, 90, 84);

}

.errorIcon:hover > p {
    
    display: block;
    position: absolute;
    padding: 5px;
    width: 200px;
    height: 80px;
    border-radius: 5px;
    background-color: rgb(248, 90, 84);
    top: 40px;
    right: -100px;
    z-index: 1;
}

.dropdownPerfil{
    background-color: white;
    height: 150px;   
}

.dropdownPerfil li{
    background-color: #F6F7F9;
}

.background-image{
    background-image: url(https://img2.wallspic.com/crops/3/2/0/2/82023/82023-gato-raza_de_perro-cuidado_de_mascotas-refugio_de_animales-veterinario-1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

